<% content_for(:html_title) { "Users" } %>

<div class="container">
  <h1>Users</h1>
  <% if @current_user.role == 'Admin' %>
    <%= render 'admin_table' %>

  <% elsif @current_user.role == 'Nurse' %>
    <%= render 'nurse_table' %>

<% end %>

</div>
