// Place all the styles related to the contact here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-9 {
  alignment: center;
}

#body {
  height: 300px;
}

.row {
  alignment: center;
  width: 100%;
  display: block;
  margin: auto;
}

.mb-4 {
  alignment: center;
}