.mb {
  margin-bottom: 0px;
}

.row {
  padding-bottom: 20px;
}

.homeContainer {
  background: #a9a9a9;
  padding-top: 20px;
  border-radius: 10px;
  margin-top: 0px;
}

.card {
  height: 100%;
}

.btn-secondary {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: black;
}

h2 {
  text-align: center;
}

.top-content {
  padding-bottom: 20px;
}