#main-logo {
    display: block;
    margin: auto;
    width: 50%;
}

#coming-soon {
    font-size: xxx-large;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-right: 130px;
    color: #569a44;
    font-style: italic;
    font-weight: bold;
}

